/* ここに CSS のコードを書きましょう */
#bd {          
    background-image:url(https://stat.ameba.jp/user_images/20220924/16/haruka202277/20/1a/j/o1080060715179100974.jpg);   
}

h3{
         font-size: 30px;
         height: 50px;
}

